{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "login" %}

{% block styles %}
{{super()}}
    <style>
        .control-label {
            display: none;
            color: rgba(255, 255, 255, 0.603);
        }    
        body{
            color: var(--white)
        }    
        @media only screen and (max-width: 992px) {
            .lower{
                margin-top: 50px;
            }
        }
    </style>
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ url_for('static', filename='img/icons/logo.svg')}}" alt="">
                <h4 style="text-align:center">FlowMes помогает Вам общаться и делиться моментами с людьми из Вашей жизни.</h4>
            </div>
        </div>
        <div class="col-md-6 lower">
            <h1>Войти</h1>
            <hr>
            {{ wtf.quick_form(form) }}
            <br>
            <p>У Вас нету аккаунта?<a href="{{url_for('register')}}"> Нажмите, чтобы зарегистрироваться!</a></p>
            <p>
                Забыли пароль?
                <a href="{{ url_for('reset_password_request') }}">Нажмите, чтобы восстановить</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}